.list-group-item {
	padding: 0px 12px;
}

h4 {
	padding: 0px;
	font-size: 26px;
}

.detail-page-header {
	margin: 30px;
}

.author-hymn-info {
	margin-left: 20px;
	margin-right: 20px;
	padding: 3px;
}

.detail-page-category {
	font-weight: lighter;
	color: lightgray;
}

.list-page-label {
	font-weight: 300;
	color: lightgray;
}

.list-page-number {
	font-style: bold;
}



.page-wrapper {
	margin: 20px;
}

.hidden-hymnals {
	display: none;
}