<section>
<div class="row">
  <div class="col-sm-2 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    <div class="row top-wrapper">
      <div class="col-xs-8 pull-left">
        <div class="list-page-header text-center">
          <a href="/" class="btn btn-secondary btn-sm" role="button">
            <i class="glyphicon glyphicon-backward"></i><span> Choose hymnal</span>
          </a>
          <h4>COGWA Hymnal</h4>
        </div>
      </div>
      <div class="col-xs-4 push-right">
        <img class="hymnal-cover" src="./modules/core/client/img/cogwahymnalcover.jpg">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4 text-center">
        <label class="search-label pull-left">Search Pg #</label>
        <input class="form-control" ng-model="search.page" type="number" id="page-number" placeholder="Enter pg #"><br>
      </div>
      <div class="col-xs-8 text-center">
        <label class="search-label pull-left">Search Title</label>
        <input class="form-control" ng-model="search.title" type="string" id="title" placeholder="Enter title keyword"><br>
      </div>
    </div>

    <hr>

  <div class="list-group">
    
    <a ng-repeat="cogwahymnal in vm.cogwahymnals | filter:search"
       ui-sref="cogwahymnals.view({ cogwahymnalId: cogwahymnal._id })"
       class="list-group-item">
      <div class="list-group-item-heading list-page-label">
      Page: <span class="list-page-number" ng-bind="cogwahymnal.page"></span> - 
      <span class="list-page-number" ng-bind="cogwahymnal.title"></div>
    </a>
  </div>
    <div class="row">
    <div class="col-xs-12 update-hymn">
      <a ui-sref="cogwahymnals.create({ cogwahymnalId: vm.cogwahymnal._id })">
        <i class="glyphicon glyphicon-edit"></i> Add a missing hymn
      </a>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.cogwahymnals.$resolved && !vm.cogwahymnals.length">
    No COGWA hymns yet, why don't you <a ui-sref="cogwahymnals.create">create one</a>?
  </div>
  </div>
  <div class="col-sm-2 col-md-3 col-lg-3"></div>
</div>
</section>