<section ng-controller="HomeController">
<div class="row">
    <div class="col-xs-12 mainButtons">   
        <h4>Which hymnal are you using?</h4>
        <button ng-click="PurpleHymnButtonClick()" class="btn btn-primary mainMenuBtn">Purple Hymnal</button><br>
        <button ng-click="WCG1994HymnButtonClick()" class="btn btn-primary mainMenuBtn">WCG (1994)</button><br>
        <button ng-click="UCGV1HymnButtonClick()" class="btn btn-primary mainMenuBtn">UCG (1st Ed.)</button><br>
        <button ng-click="UCGV2HymnButtonClick()" class="btn btn-primary mainMenuBtn">UCG (2nd Ed.)</button><br>
        <button ng-click="LCGHymnButtonClick()" class="btn btn-primary mainMenuBtn">LCG</button><br>
        <button ng-click="COGWAHymnButtonClick()" class="btn btn-primary mainMenuBtn">COGWA</button><br>
        <span ng-bind="Message"></span>
    </div>
  </div>
</section>
