<section ng-controller="HomeController">
<div class="row">
    <div class="col-xs-12 mainButtons">   
        <h5>Which hymnal are you using?</h5>
        <a href="/purplehymnals" class="btn btn-primary" role="button">Purple Hymnal</a><br>
        <a href="/wcg1994hymnals" class="btn btn-primary" role="button">WCG (1994)</a><br>
        <a href="/ucgv1hymnals" class="btn btn-primary" role="button">UCG (1st Ed.)</a><br>
        <a href="/ucgv2hymnals" class="btn btn-primary" role="button">UCG (2nd Ed.)</a><br>
        <a href="/lcghymnals" class="btn btn-primary" role="button">LCG</a><br>
        <a href="/cogwahymnals" class="btn btn-primary" role="button">COGWA</a><br>
        <!--<button ng-click="PurpleHymnButtonClick()" class="btn btn-primary mainMenuBtn">Purple Hymnal</button><br>
        <button ng-click="WCG1994HymnButtonClick()" class="btn btn-primary mainMenuBtn">WCG (1994)</button><br>
        <button ng-click="UCGV1HymnButtonClick()" class="btn btn-primary mainMenuBtn">UCG (1st Ed.)</button><br>
        <button ng-click="UCGV2HymnButtonClick()" class="btn btn-primary mainMenuBtn">UCG (2nd Ed.)</button><br>
        <button ng-click="LCGHymnButtonClick()" class="btn btn-primary mainMenuBtn">LCG</button><br>
        <button ng-click="COGWAHymnButtonClick()" class="btn btn-primary mainMenuBtn">COGWA</button><br>
        <span ng-bind="Message"></span> -->
    </div>
  </div>
</section>
