<section>
	<div class="row">
		<div class="col-sm-2 col-md-3 col-lg-3"></div>
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
			<div class="list-page-header text-center">
				<a href="/" class="btn btn-secondary btn-sm" role="button">
	        <i class="glyphicon glyphicon-backward"></i><span> Choose hymnal</span>
	      </a>
      </div>
			<h5>Scriptural Support</h5>
			<p>
				<b>Haggai 2:11-14</b><br>
				Thus says the Lord of hosts: “Now ask the priests concerning the law, saying, “If one carries holy meat in the fold of his garment, and with the edge he touches bread or stew, wine or oil, or any food, will it become holy?”’” Then the priests answered and said, “No”. And Haggai said, “If one who is unclean because of the dead body touches any of these, will it be unclean?” So the priests answered and said, <b>“It shall be unclean.”</b> Then Haggai answered and said, “So is this people, and so is this nation before Me,’ says the Lord, ‘and so is every work of their hands; and what they offer there is unclean.
			</p>
			<p>
				<b>Amos 5:22</b><br>
				Though you offer Me burnt offerings and your grain offerings, I will not accept them, nor will I regard your fattened peace offerings. Take away from Me the noise of your songs, for <u>I will not hear the melody</u> of your stringed instruments.
			</p>
			<p>
				<b>Deu 12:29-31</b><br>
				When the Lord you God cuts off from before the nations which you go to dispossess, and you displace them and dwell in their land, take heed to yourself that you are not ensnared to follow them, after they are destroyed from before you, and that you do not inquire after their gods, saying, “<u>How</u> did these nations server their gods? I will also do likewise.’ <b>You shall not worship the Lord your God in that way;</b> for every abomination to the Lord which He hates they have done to their gods; for they burn even their sons and daughters in the fire to their gods.
			</p>
			<p>
				<b>Deu 12:2</b><br>
				You shall utterly destroy all the places where the nations which you shall dispossess served their gods, on the high mountains and on the hills and under every green tree. And you shall destroy their altars, break their sacred pillars and burn their wooden images with fire; you shall cut down the carved images of their gods and destroy their names from that place. <b>You shall not worship the Lord your God with such things</b>.
			</p>
			<p>
				<b>Acts 21:25</b><br>
				But concerning the Gentiles who believe, we have written and decided that they should observe no such thing, except that they should <b>keep themselves from things offered to idols</b>, from blood, from things strangled and from sexual immorality.
			</p>
			<p>For a more comprehensive study paper review on this topic, <a target="_self" href="http://hymnsbg.info/hymnsbgpaper.pdf" download="hymnsbgpaper.pdf">click here</a>.</p>

		</div>
		<div class="col-sm-2 col-md-3 col-lg-3"></div>
	</div>
</section>