<section>
  <div class="detail-page-header text-center">
    <a href="/" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-backward"></i><span> Choose hymnal</span></a><h4>UCG (2nd Ed.) Hymnal</h4>
  </div>

  <div class="row">
    <div class="col-xs-4 text-center">
      <label class="search-label pull-left">Search Pg #</label>
      <input class="form-control" ng-model="search.page" type="number" id="page-number" placeholder="Enter pg #"><br>
    </div>
    <div class="col-xs-8 text-center">
      <label class="search-label pull-left">Search Title</label>
      <input class="form-control" ng-model="search.title" type="string" id="title" placeholder="Enter title keyword"><br>
    </div>
  </div>

  <hr>

  <div class="list-group">
    
    <a ng-repeat="ucgv2hymnal in vm.ucgv2hymnals | filter:search"
       ui-sref="ucgv2hymnals.view({ ucgv2hymnalId: ucgv2hymnal._id })"
       class="list-group-item">
      <!-- <small class="list-group-item-text">
        Posted on
        <span ng-bind="purplehymnal.created | date:'mediumDate'"></span>
        by
        <span ng-if="purplehymnal.user" ng-bind="purplehymnal.user.displayName"></span>
        <span ng-if="!purplehymnal.user">Deleted User</span>
      </small> -->
      <div class="list-group-item-heading list-page-label">
      Page: <span class="list-page-number" ng-bind="ucgv2hymnal.page"></span> - 
      <span class="list-page-number" ng-bind="ucgv2hymnal.title"></div>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ucgv2hymnals.$resolved && !vm.ucgv2hymnals.length">
    No UCG (2nd Ed.) hymns yet, why don't you <a ui-sref="ucgv2hymnals.create">create one</a>?
  </div>
</section>
