<section >
  <div class="detail-page-header text-center">
    <a href="/ucgv2hymnals" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-backward"></i><span> New search</span></a>
    <h4>UCG (2nd Ed.) Hymnal</h4>
  </div>
  <hr>
  <!-- <div class="pull-right"
       ng-show="vm.ucgv2hymnal.isCurrentUserOwner">
  <div class="pull-right">
    <a class="btn btn-sm"
       ui-sref="ucgv2hymnals.edit({ ucgv2hymnalId: vm.ucgv2hymnal._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-sm" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  -->
  <div class="row top-info-wrapper">
    <!-- only one page-block-* div is shown depending on approved property -->
    <div class="col-xs-3 page-block-clean" ng-show="vm.ucgv2hymnal.approved == 'true'">
      <p class="page text-center" ng-bind="vm.ucgv2hymnal.page">{{vm.ucgv2hymnal.page}}</p>
    </div>
    <div class="col-xs-3 page-block-unclean" ng-show="vm.ucgv2hymnal.approved == 'false'">
      <p class="page text-center" ng-bind="vm.ucgv2hymnal.page">{{vm.ucgv2hymnal.page}}</p>
    </div>
    <div class="col-xs-3 page-block-null" ng-show="vm.ucgv2hymnal.approved == 'null'">
      <p class="page text-center" ng-bind="vm.ucgv2hymnal.page">{{vm.ucgv2hymnal.page}}</p>
    </div>
    <div class="col-xs-9 top-info-right-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <span class="hymnTitle">{{vm.ucgv2hymnal.title}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="hymnAuthor">{{vm.ucgv2hymnal.author}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <span class="hymnAuthorInfo">{{vm.ucgv2hymnal.authorInfo}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 update-hymn">
      <a ui-sref="ucgv2hymnals.edit({ ucgv2hymnalId: vm.ucgv2hymnal._id })">
        <i class="glyphicon glyphicon-edit"></i> Update this hymn
      </a>
    </div>
  </div>
</section>
