<section>
<div class="row">
  <div class="col-sm-2 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
  <div class="page-header">
    <h4>{{vm.purplehymnal._id ? 'Edit Purple Hymn' : 'Create New Purple Hymn'}}</h4>
  </div>

    <div class="col-xs-12 col-sm-12">
      <form name="vm.form.purplehymnalForm" class="" ng-submit="vm.save(vm.form.purplehymnalForm.$valid)" novalidate>
        <fieldset>
        <div class="row">
        <div class="form-group col-xs-3 col-sm-3" show-errors>
            <label class="control-label" for="page">Page Number</label>
            <input name="page" type="number" ng-model="vm.purplehymnal.page" id="page" class="form-control" placeholder="Pg #" required>
            <div ng-messages="vm.form.purplehymnalForm.page.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Hymn page number is required.</p>
            </div>
        </div>
        <div class="form-group col-xs-9 col-sm-9">
            <input name="approved" type="checkbox" ng-model="vm.purplehymnal.approved" id="approved" ng-true-value="'true'"> 
            <label class="control-label" for="approved"> Check if approved</label>
            <br>
            <input name="not-approved" type="checkbox" ng-model="vm.purplehymnal.approved" id="not-approved" ng-true-value="'false'">
            <label class="control-label" for="not-approved"> Check if not approved</label>
            <br>
            <input name="null" type="checkbox" ng-model="vm.purplehymnal.approved" id="null" ng-true-value="'null'">
            <label class="control-label" for="null"> Check if you're not sure</label>
        </div>
        </div>
        <div class="form-group" show-errors>
            <label class="control-label" for="name">Hymn Title</label>
            <input name="title" type="text" ng-model="vm.purplehymnal.title" id="title" class="form-control" placeholder="Hymn title" required>
            <div ng-messages="vm.form.purplehymnalForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Hymn title is required.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="control-label" for="author">Hymn Author</label>
            <input name="author" type="text" ng-model="vm.purplehymnal.author" id="author" class="form-control" placeholder="Name of author" required>
            <div ng-messages="vm.form.purplehymnalForm.author.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Hymn author is required.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="control-label" for="authorInfo">Author Information</label>
            <textarea name="authorInfo" rows="4" ng-model="vm.purplehymnal.authorInfo" id="authorInfo" class="form-control" placeholder="Enter author information" required></textarea>
            <div ng-messages="vm.form.purplehymnalForm.authorInfo.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Author information is required.</p>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.purplehymnal._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        </fieldset>
      </form>
    </div>
  <div class="col-sm-2 col-md-3 col-lg-3"></div>
</div>
</section>