<section>
  <div class="detail-page-header text-center">
    <a href="/" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-backward"></i><span> Choose hymnal</span></a><h4>Purple Hymnal</h4>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <p>Search Page #</p>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 text-center">
      <input class="form-control" ng-model="vm.searchText" type="number" id="page-number" placeholder="Enter pg #"><br>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-12 text-center">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.searchPage()">Submit</button>
    </div>
  </div>
</section>