<section >
  <div class="detail-page-header text-center">
    <a href="/wcg1993hymnals" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-backward"></i><span> New search</span></a><h4>WCG (1993) Hymnal</h4>
  </div>
  <div class="pull-right"
       ng-show="vm.wcg1993hymnal.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="wcg1993hymnals.edit({ purplehymnalId: vm.wcg1993hymnal._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="text-center page-wrapper"><span class="detail-page-category">Page</span><p class="page" ng-bind="vm.wcg1993hymnal.page">{{vm.wcg1993hymnal.page}}</p></div>
  <div class="text-center popular">Approved: <span class="lead" ng-bind="vm.wcg1993hymnal.approved"></span></div>
  <div class="text-center"><span class="detail-page-category">Title</span><p class="lead" ng-bind="vm.wcg1993hymnal.title"></p></div>
  <div class="text-center"><span class="detail-page-category">Author</span><p class="lead" ng-bind="vm.wcg1993hymnal.author"></p></div>
  <div class="text-center"><span class="detail-page-category">Author/Hymn Information</span></div><p class="lead author-hymn-info" ng-bind="vm.wcg1993hymnal.authorInfo"></p>
</section>