<section>
  <div class="detail-page-header text-center">
    <a href="/" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-backward"></i><span> Choose hymnal</span></a><h4>UCG (1st Ed.) Hymnal</h4>
  </div>

  <div class="row">
    <div class="col-xs-4 text-center">
      <label class="search-label pull-left">Search Pg #</label>
      <input class="form-control" ng-model="search.page" type="number" id="page-number" placeholder="Enter pg #"><br>
    </div>
    <div class="col-xs-8 text-center">
      <label class="search-label pull-left">Search Title</label>
      <input class="form-control" ng-model="search.title" type="string" id="title" placeholder="Enter title keyword"><br>
    </div>
  </div>

  <hr>

  <div class="list-group">
    
    <a ng-repeat="ucgv1hymnal in vm.ucgv1hymnals | filter:search"
       ui-sref="ucgv1hymnals.view({ ucgv1hymnalId: ucgv1hymnal._id })"
       class="list-group-item">
      <div class="list-group-item-heading list-page-label">
      Page: <span class="list-page-number" ng-bind="ucgv1hymnal.page"></span> - 
      <span class="list-page-number" ng-bind="ucgv1hymnal.title"></span>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ucgv1hymnals.$resolved && !vm.ucgv1hymnals.length">
    No UCG (1st Ed.) hymns yet, why don't you <a ui-sref="ucgv1hymnals.create">create one</a>?
  </div>
</section>