<section >
<div class="row">
  <div class="col-sm-2 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
  <div class="row top-wrapper">
    <div class="col-xs-8 pull-left">
      <div class="list-page-header text-center">
        <a href="/ucgv1hymnals" class="btn btn-secondary btn-sm" role="button"><i class="glyphicon glyphicon-backward"></i><span> New search</span></a>
        <h4>UCG (1st Ed.) Hymnal</h4>
      </div>
    </div>
    <div class="col-xs-4 push-right">
      <img class="hymnal-cover" src="./modules/core/client/img/ucgv1hymnalcover.jpg">
    </div>
  </div>
  <hr>
  <!-- <div class="pull-right"
       ng-show="vm.ucgv1hymnal.isCurrentUserOwner">
  <div class="pull-right">
    <a class="btn btn-sm"
       ui-sref="ucgv1hymnals.edit({ ucgv1hymnalId: vm.ucgv1hymnal._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-sm" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  -->
  <div class="row top-info-wrapper">
    <!-- only one page-block-* div is shown depending on approved property -->
    <div class="col-xs-3 page-block-clean" ng-show="vm.ucgv1hymnal.approved == 'true'">
      <p class="page text-center" ng-bind="vm.ucgv1hymnal.page">{{vm.ucgv1hymnal.page}}</p>
    </div>
    <div class="col-xs-3 page-block-unclean" ng-show="vm.ucgv1hymnal.approved == 'false'">
      <p class="page text-center" ng-bind="vm.ucgv1hymnal.page">{{vm.ucgv1hymnal.page}}</p>
    </div>
    <div class="col-xs-3 page-block-null" ng-show="vm.ucgv1hymnal.approved == 'null'">
      <p class="page text-center" ng-bind="vm.ucgv1hymnal.page">{{vm.ucgv1hymnal.page}}</p>
    </div>
    <div class="col-xs-9 top-info-right-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <span class="hymnTitle">{{vm.ucgv1hymnal.title}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="hymnAuthor">{{vm.ucgv1hymnal.author}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <span class="hymnAuthorInfo">{{vm.ucgv1hymnal.authorInfo}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 update-hymn">
      <a ui-sref="ucgv1hymnals.edit({ ucgv1hymnalId: vm.ucgv1hymnal.page })">
        <i class="glyphicon glyphicon-edit"></i> Update this hymn
      </a>
    </div>
  </div>
  <div class="col-sm-2 col-md-3 col-lg-3"></div>
</div>
</section>
