.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


.pageTitle {
  font-size: 14px;
  background: #FFC797;
  height: 60px;
  margin-top: 0;
  text-align: center;
  display: block;
  padding: 10px;
  color: white;
  font-weight: lighter;
}

.navbar {
  border: 0px;
}

.navbar-toggle {
  border-radius: 0px;
  padding: 5px 10px;
}

.navbar-inverse .navbar-toggle {
  border-color: #FFC797;
}


.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-brand {
  padding: 10px 40px;
  font-size: 19px;
  font-weight: 300;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ffe2cc;
  background: #FFC797;
  background: rgba(255,199,151,0.85);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #5F9EA0;
}

.navbar-inverse {
  background: #FFC797;
}

/* pages layout */

.top-info-wrapper {
  padding: 15px;
}

.top-info-right-wrapper {
  padding: 10px;
}

.page-block-clean {
  background: rgba(8,130,8,.50);
  width: 70px;
  height: 60px;
  border-radius: 3px;
  padding: 7px;
}

.page-block-unclean {
  background: rgba(200,28,28,0.50);
  width: 70px;
  height: 60px;
  border-radius: 3px;
  padding: 7px;
}

.page-block-null {
  background: lightgray;
  width: 70px;
  height: 60px;
  border-radius: 3px;
  padding: 7px;
}

.page {
  font-size: 28px;
  color: white;
}

.lead {
  font-size: 14px;
  font-weight: 400;
}

.hymnTitle {
  font-size: 14px;
  padding: 3px;
}

.hymnAuthor {
  font-size: 14px;
  padding: 3px;
  font-weight: 300;
}

.hymnAuthorInfo {
  font-size: 14px;
  font-weight: 300;
}

.hymnStatus {
  font-size: 20px;
  border: solid gray 1px;
}

/* hymn status */
.approved {
  border: 1px dotted green;
  border-radius: 3px;
  margin: 20px;
  padding: 3px;
  color: green;
}

.not-approved {
  border: 1px dotted red;
  border-radius: 3px;
  margin: 20px;
  padding: 3px;
  color: red;
}

.null {
  border: 1px dotted gray;
  border-radius: 3px;
  margin: 20px;
  padding: 3px;
}

.update-hymn {
  padding: 15px;
}

.update-hymn > a {
  color: lightgray;
}

.hymnAuthorName {
  font-size: 12px;
}

.mainButtons {
  text-align: center;
  font-weight: 300;
}

.signInPage {
  margin-top: 30px;
}

.btn-primary {
  width: 175px;
  margin: 10px;
  font-weight: 300;
  font-size: 18px;
  border: 1px solid;
  border-radius: 3px;
  /* background: rgba(67,152,152,0.75); */
  color: rgba(67,152,152,0.75);
  background: none;
  text-shadow: none;

}

.btn-secondary {
  width: 85%;
  margin: 20px
  font-weight lighter;
  border: 1px solid #cfe1e2;
  background: none;
  border-radius: 0px;
  color: #cfe1e2;
}

h5 {
  font-weight: 300;
  font-size: 18px;
  padding: 10px;
}

h4 {
  color: gray;
  padding: 15px;
  font-weight: 300;
}

h3 {
  color: gray;
  font-weight: lighter;
}

.page-header {
  width: 80%;
}

.search-label {
  font-weight: 300;
}


